a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 10px 0 10px;
    margin: 5px 0 0 0;
} 

.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 50%;
    gap: 20px;
}

.header_left a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 800;
    position: relative;
}

.header_left a::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: -4px;
    width: 120%;
    height: 2px;
    background-color: var(--text-color);
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    gap: 10px;
    align-items: center;
    gap: 15px;
}

.menu_trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 8px;
}

.menu_trigger:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--text-color);
}

.google_profile {
position: relative;
border-radius: 50%;
padding: 0.18rem;
}

.google_profile::before {
content: "";
position: absolute;
inset: 0;
z-index: -1;
background: conic-gradient(
    #E53935 0deg 40deg,
    #1565C0 40deg 145deg,
    #2E7D32 135deg 235deg,
    #FBC02D 235deg 300deg,
    #E53935 300deg 360deg
    );
border-radius: 50%;
padding: 2px;
}

.google_profile img {
    max-width: 2.5em;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
}

.google_profile img:hover {
    border:2px solid var(--hover-color);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.menu_item {
    width: 4rem;
}

.menu_grid {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s cubic-bezier(.62,.09,.51,1.06);
    will-change: opacity, transform;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    justify-items: center;
    margin-top: 50px;
    background: var(--hover-color);
    border: 10px solid var(--border-color);
    border-radius: 1.4rem;
    box-shadow: 4px 4px 20px rgba(32, 33, 36, 0.3);
    margin-left: auto;
    margin-right: 1.5rem;
    padding: 1rem;
    z-index: var(--z-index-menu);
    top: calc(5% + 10px);
    gap: 1rem;
}

.menu_grid a:hover {
background-color: var(--border-color);
border-radius: 0.7rem;
transition: all 0.2s ease;
}

.menu_checkbox:checked ~ .menu_grid {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

.menu_checkbox:checked ~ .overlay {
    display: block;
    pointer-events: auto;
}
 
.menu_checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    right: 0;
    margin: 0;
    /* pointer-events: none; */
    z-index: var(--z-index-checkbox);
 }

 .menu_trigger {
    z-index: var(--z-index-checkbox);
 }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    display: none;
    transition: opacity 0.3s ease;
    z-index: var(--z-index-overlay);
    pointer-events: none;
    
}

.sr-only {
    display: grid;
    justify-items: center;
}







/* *{
    border: 1px solid red
} */